# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Labs\laravel-boas-praticas-eventos-filas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
